<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>待办事项</title>
</head>
<body>
  <div id="app">
    <section id="signInAndSingUp" v-if="!currentUser">
      <div>
        <label><input type="radio" name="type" v-model="actionType" value="signUp">注册</label>
        <label><input type="radio" name="type" v-model="actionType" value="logIn">登入</label>
      </div>
      <div class="signUp" v-if="actionType=='signUp'">
        <form @submit.prevent="signUp">
          <div class="formRow">
            用户名<input type="text" v-model="formData.username">
          </div>
          <div class="formRow">
            密码<input type="password" v-model="formData.password">
          </div>
          <div class="formActions">
            <input type="submit" value="注册">
          </div>
        </form>
      </div>
      <div class="login" v-if="actionType=='logIn'">
        <form @submit.prevent="logIn">
          <div class="formRow">
            用户名<input type="text" v-model="formData.username">
          </div>
          <div class="formRow">
            密码<input type="password" v-model="formData.password">
          </div>
          <div class="formActions">
            <input type="submit" value="登入">
          </div>
        </form>
      </div>
    </section>
    <section id="todo" v-if="currentUser">
      <p>当前用户：{{formData.username}}</p>
      <button @click="logOut">注销</button>
      <div class="newTask">
        <input type="text" v-model="newTodo" @keypress.enter="addTodo">
      </div>
      <ol class="todos" v-for="todo in todoList">
        <input type="checkbox" v-model="todo.done">
        {{todo.title}}
        <span>创建于{{todo.createdAt}}</span>
        <span v-if="todo.done">已完成</span>
        <span v-else>未完成</span>
        <button @click="removeTodo(todo)">x</button>
      </ol>
    </section>
    
  </div>
</body>
  <script src="bundle.js"></script>
</html>